.screen {
    position: relative;
    height: 100vh;
}

.screen::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    z-index: 1;
  }
  .screen > * {
    position: relative;
    z-index: 2;
  }

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    * {
        color: beige;
        font-size: 1.5rem;
    }
}

.name, .dot {
    font-size: 4rem;
    font-weight: bold;
}

.dot {
    color: var(--brand-orange);
}

.skills {
    font-style: italic;
}

.name-container {
    display: flex;
    align-items: end;
}

.name-link {
    cursor: pointer;
    display: flex;
    align-items: end;
    text-decoration: none;
    color: unset;
    font-size: 2rem;
}